

## Human verification of DSE records for eins121pages, page 21

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 21 ](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_021@0.4224,0.6753,0.2902,0.06050&urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_021@0.05747,0.6569,0.6769,0.2052).

Visualizations for individual documents:

-  all [passages in urn:cts:chant:massordinary.eins121.text_xml:](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_021@0.4224,0.6753,0.2902,0.06050&urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_021@0.05747,0.6569,0.6769,0.2052).
-  all [passages in urn:cts:chant:massordinary.eins121.text_xml:](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_021@0.4224,0.6753,0.2902,0.06050&urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_021@0.05747,0.6569,0.6769,0.2052).
