

## Human verification of DSE records for eins121pages, page 24

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 24 ](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_024@0.1513,0.3085,0.7482,0.5542&urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_024@0.4440,0.6222,0.4922,0.06435).

Visualizations for individual documents:

-  all [passages in urn:cts:chant:massordinary.eins121.text_xml:](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_024@0.1513,0.3085,0.7482,0.5542&urn=urn:cite2:ecod:einsiedeln121imgs.v1:sbe_0121_024@0.4440,0.6222,0.4922,0.06435).
