

## Human verification of DSE records for sg359pages, page 37

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 37 ](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.1142,0.3279,0.4751,0.1040&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.08834,0.7007,0.2951,0.03846&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.08323,0.4637,0.5162,0.1633&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.08894,0.6362,0.2037,0.03005&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.1391,0.6665,0.4159,0.03045&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.06340,0.6316,0.05078,0.03265&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.1040,0.1108,0.5018,0.2117&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.2870,0.6310,0.08203,0.03045&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.06460,0.1362,0.03936,0.02764&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.3804,0.6316,0.1818,0.03265&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.06490,0.7073,0.02614,0.02344&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.07843,0.4195,0.5162,0.06390).

Visualizations for individual documents:

-  all [passages in urn:cts:chant:massordinary.sg359.text:](http://www.homermultitext.org/ict2/?urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.1142,0.3279,0.4751,0.1040&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.08834,0.7007,0.2951,0.03846&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.08323,0.4637,0.5162,0.1633&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.08894,0.6362,0.2037,0.03005&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.1391,0.6665,0.4159,0.03045&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.06340,0.6316,0.05078,0.03265&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.1040,0.1108,0.5018,0.2117&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.2870,0.6310,0.08203,0.03045&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.06460,0.1362,0.03936,0.02764&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.3804,0.6316,0.1818,0.03265&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.06490,0.7073,0.02614,0.02344&urn=urn:cite2:ecod:codsang359imgs.v1:csg359_0_44_37_0@0.07843,0.4195,0.5162,0.06390).
